**/.DS_Store
**/._*

**/.idea
**/.vulnerability-mirror

# excluded to not convey any of the internal correlation data by accident
**/correlations/shared/common/**/*

**/target
**/gen
**/log
**/ae-common-content

**/99_tmp
**/intermediate-inventories


