EXTERNAL_KONTINUUM_DIR="/PATH/TO/KONTINUUM"
EXTERNAL_VULNERABILITY_MIRROR_DIR="/PATH/TO/MIRROR"
EXTERNAL_VULNERABILITY_MIRROR_URL="https://MIRROR_URL/mirror.tar.gz"
EXTERNAL_VULNERABILITY_MIRROR_NAME="mirror.tar.gz"